/* register.css contains css for register contents */

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register_container {
    width: 600px;
    max-width: 600px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register_form {
    width: 300px;
}

#register_title {
    font-size: 36px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.form_label {
    color: white;
}

.form_input_text {
    width: 100%;
    resize: none;
    /* margin: 0;
    padding: 0; */
}

.double_column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dob_container {
    width: 100%;
}

.gender_container {
    width: 100%;
}

#dob {
    width: 80%;
}

.input_radio_container {
    display: flex;
    flex-direction: row;
}

.input_radio_container p {
    margin: 0;
}

.checkbox_container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.checkbox_container p {
    margin: 0;
}

#button_register {
    margin-top: 20px;
    color: black;
    border: 0;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

#button_register:hover {
    background-color: #353535;
    color: white;
    transition: 0.1s;
    cursor: pointer;
}